@using blogg.Models.viewModel
@model List<BlogModel>

<h1>bloggsss</h1>
<div class="container">
    <div class="row">
        @foreach (var m in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@m.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@m.Title</h5>
                        <p class="card-text">@m.Description</p>
                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@m.Id">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

