@using blogg.Models.viewModel
@model List<BlogModel>

<h1>bloggsss</h1>

@foreach(var m in Model)
{
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src=@m.ImageUrl alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@m.Title</h5>
    <p class="card-text">@m.Description</p>
    <a asp-controller="Blog" asp-action="Detail"asp-route-id="@m.Id">Detail</a>
  </div>
</div>
}